.modal_back {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
}
.modalDialog {
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 500px;
  max-height: 90%;
  overflow-y: auto;
  width: 600px;
  top: 10%;
  left: 35%;
  box-shadow: 0px 0px 15px #b8b8b8;
  border-radius: 5px;
  background-color: #bea47e;
}
.modal_content {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  width: 90%;
  .header{
    h3 {
      font-family: "Preslav", sans-serif;
      font-size: 30px;
      text-align: center;
    }
  }
  .select_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  .team {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: "Preslav", sans-serif;
      font-size: 28px;
    }
    select {
      height: 30px;
      border-radius: 4px;
      font-family: "Preslav", sans-serif;
      font-size: 28px;
    }
  }
  input {
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    border: 1ps solid black;
    margin-bottom: 20px;
    font-family: "Preslav", sans-serif;
    font-size: 32px;
  }
  .button_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      height: 45px;
      width: 220px;
      border-radius: 4px;
      background: #e7b777;
      border: 2px solid #3f3f3f;
      font-family: "Preslav", sans-serif;
      font-size: 22px;
    }
  }
}
