.modal_back {
  z-index: 2;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
  background: rgba(255,255,255,0.8);
  position: fixed;
}
.modalDialog {
	z-index: 3;
	position: fixed;
	height: auto;
	max-height: 90%;
	overflow-y: auto;
	width: 400px;
	top: 5%;
	left: 30%;
	box-shadow: 0px 0px 15px #b8b8b8;
	border-radius: 5px;
	background-color: #ffffff;
}
.modal_content {
	display: flex;
	flex-direction: column;
  height: 62px;
}
