.modal_back {
  z-index: 2;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
  background: rgba(41, 31, 16, 0.5);
  backdrop-filter: blur(40px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100%;
  width: 80%;
  background: url('../../img/keboard_bg.svg') no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  height: auto;
  background: url('../../img/commandNameInput.svg') no-repeat;
  width: 90%;
  min-height: 420px;

  & input {
    margin-top: 2%;
    width: 85%;
    height: auto;
    max-height: 140px;
    font-family: 'Preslav', sans-serif;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 126px;
    text-align: center;
    color: #7b6442;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.keyboard {
  height: auto;
  width: 90%;
  max-width: 620px;
}
.custom_button{
  background: url('../../img/custom_button.svg') no-repeat;
  height: auto;
  width: 90%;
}
//1280*680
@keyframes regressAnimation {
  from { height: 90% }
  to   { height: 0 }
}
@media (max-height: 680px), (max-width: 1280px) {
  .question_text{
    max-width: 600px;
    height: 150px;
    font-size: 32px;
    & p{
      margin: 5px;
      text-align: center;
    }
  }
  .input {
    min-height: 120px;
    & input {
      max-height: 80px;
      font-size: 70px;
      line-height: 70px;
    }
  }
  .keyboard {
    height: auto;
    width: 90%;
    max-width: 620px;
  }
}
