.main {
  display: flex;
  justify-content: space-between;
  color: #1a1a25;
  text-indent: 2px;
  font-family: Regular, serif;
  color: #4f4f4f;
}
.big {
  width: 280px;
}
.w377 {
  width: 377px;
}
.w353 {
  width: 353px;
}
.w540 {
  width: 540px;
}
.w140 {
  width: 140px;
}
.field {
  width: 100%;
  font-size: 13px;
}