.main {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  .left_part {
    margin-top: 30px;
    margin-left: 20px;
    width: 250px;
  }
  .right_part {
		margin: 30px 20px 20px 20px;
    width: 90%;
		h3 {
			text-align: center;
			color: black;
			font-family: "Preslav", sans-serif;
			font-size: 28px;
		}
    .right_part_wrapper {
			border: 2px solid #3f3f3f;
			border-radius: 4px;
    }
  }
}
.main_table {
  background-color: #fafafa;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  .edit {
    background-color: #f49530;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px 7px;
    cursor: pointer;
    margin: 0 1px;
  }
  .delete {
    background-color: #b60000;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px 7px;
    cursor: pointer;
    margin: 0 1px;
  }
}
