.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
.image {
  display: flex;
  justify-content: center;
  background: url("../../img/red-name.svg") no-repeat;
  height: auto;
  width: 80%;
  min-height: 420px;
  & p {
    margin-left: 3%;
    font-family: "PT-serif", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 93px;
    text-align: center;
    color: #fff;
  }
}
.input {
  display: flex;
  justify-content: center;
  height: auto;
  background: url("../../img/commandNameInput.svg") no-repeat;
  width: 90%;
  min-height: 420px;

  & input {
    margin-top: 2%;
    width: 85%;
    height: auto;
    max-height: 140px;
    font-family: "Preslav", sans-serif;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 126px;
    text-align: center;
    color: #7b6442;
  }
}
.button{
  
}
//1280*680
@media (max-height: 680px), (max-width: 1280px) {
  .image {
    min-height: 320px;
    & p {
      font-size: 46px;
      line-height: 50px;
    }
  }
  .input {
    min-height: 320px;
    & input {
      max-height: 90px;
      font-size: 70px;
      line-height: 70px;
    }
  }
}
