.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("../../img/cells.svg");
  background-size: cover;
  .left_panel {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 680px;
    height: 100%;
    .command_info {
      background: #b09770;
      border-bottom: 2px solid #bea47e;
      height: 33%;
      min-height: 225px;
      min-width: 270px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .team_wrapper{
        margin-left: 40px;
        margin-right: 20px;
      }
      .team_status{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      span {
        text-align: center;
        font-family: "Preslav", sans-serif;
        color: #fff;
        font-size: 28px;
      }
      p {
        font-family: "Preslav", sans-serif;
        color: #654f2f;
        font-size: 20px;
      }
      .team1_1 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/flag_team1.png") no-repeat;
        background-size: cover;
      }
      .team2_1 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/flag_team2.png") no-repeat;
        background-size: cover;
      }
      .team3_1 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/flag_team3.png") no-repeat;
        background-size: cover;
      }
      .team1_2 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/trumbed_team1.png") no-repeat;
        background-size: cover;
      }
      .team2_2 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/trumbed_team2.png") no-repeat;
        background-size: cover;
      }
      .team3_2 {
        margin-left: 30px;
        height: 50px;
        width: 50px;
        background: url("../../img/trumbed_team3.png") no-repeat;
        background-size: cover;
      }
    }
  }
  .command_info_color {
    display: flex;
    flex-direction: column;
    min-height: 680px;
    height: 100%;
    width: 20px;
    .color1 {
      width: 20px;
      height: 33%;
      min-height: 225px;
      background: linear-gradient(180deg, #ffffff 0%, #efeae1 49.48%, #d7ccb9 100%);
      border-bottom: 2px solid #bea47e;
    }
    .color2 {
      width: 20px;
      height: 33%;
      min-height: 225px;
      background: linear-gradient(180deg, #42569c 0%, #31427c 49.48%, #25295c 100%);
      border-bottom: 2px solid #bea47e;
    }
    .color3 {
      width: 20px;
      height: 33%;
      min-height: 225px;
      background: linear-gradient(180deg, #c13030 0%, #b01d1d 49.48%, #8f1919 100%), #efeae1;
      border-bottom: 2px solid #bea47e;
    }
  }
  .right_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("../../img/map_bg.svg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 80%;
    min-height: 420px;
    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .admin_panel {
        a {
          text-decoration: none;
          color: #000;
        }
        .button:hover {
          background-color: #fff;
        }
        .button {
          background-color: #e7c999;
          border: 2px solid #3f3f3f;
          width: 150px;
          height: 30px;
          margin: 3px;
          border-radius: 4px;
          cursor: pointer;
        }
      }
      .game_status {
        background: url("../../img/game_status.svg") no-repeat;
        height: 90px;
        width: 440px;
        display: flex;
        justify-content: center;
        p {
          font-family: "Preslav", sans-serif;
          color: #fff;
          font-size: 28px;
          width: 90%;
          margin-top: 10px;
          text-align: center;
        }
      }
      .button_div {
        // top: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        a {
          text-decoration: none;
          color: #000;
        }
        .next_question {
          background-color: #e7c999;
          border: 2px solid #3f3f3f;
          width: 150px;
          height: 30px;
          margin: 3px;
          border-radius: 4px;
          cursor: pointer;
        }
        .next_question:hover {
          background-color: #fff;
        }
      }
      .hide {
        visibility: hidden;
      }
    }
    .map_wrapper {
      display: flex;
      justify-content: center;
      width: 95%;
      max-height: 700px;
      .map_vector {
        height: 100%;
        width: 90%;
        max-width: 1100px;
      }
    }
  }
}
