
.content {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  margin: 20px;
  h3 {
    font-family: "Preslav", sans-serif;
    font-size: 30px;
    text-align: center;
  }
  input {
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    border: 1ps solid black;
    margin-bottom: 20px;
    font-family: "Preslav", sans-serif;
    font-size: 32px;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    button {
      height: 45px;
      width: 220px;
      border-radius: 4px;
      background: #e7b777;
      border: 2px solid #3f3f3f;
      font-family: "Preslav", sans-serif;
      font-size: 22px;
    }
  }
}
