.modal_back {
  z-index: 2;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
  background: rgba(41, 31, 16, 0.5);
  backdrop-filter: blur(40px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100%;
  width: 80%;
  background: url('../../img/keboard_bg.svg') no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  width: 80%;
}
.answer {
  border-bottom: 2px solid #C69D61;
  width: 80%;
  & p{
    font-family: 'PT-Sans', sans-serif;
    margin: 10px;
    font-size: 70px;
    text-align: center;
  }
}
.button{
  height: auto;
  max-height: 100px;
  width: 100%;

}
//1280*680

@media (max-height: 680px), (max-width: 1280px) {
  .question_text{
   width: 80%;
    height: 150px;
    font-size: 32px;
    & p{
      margin: 5px;
      text-align: center;
    }
  }
}

.button_team1{
  height: 40%;
  width: 30%;
  background: url('../../img/result_team1_bg.svg') no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  & p {
    font-size: 24px;
    margin: 3px;
  }
}
.button_team2{
  height: 40%;
  width: 30%;
  background: url('../../img/result_team2_bg.svg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  & p {
    font-size: 24px;
    margin: 3px;
  }
}
.button_team3{
  height: 40%;
  width: 30%;
  background: url('../../img/result_team3_bg.svg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  & p {
    font-size: 24px;
    margin: 3px;
  }
}